body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.navbar {
    background: url(../img/goldbg.png) repeat-x transparent;
    border:none;
    border-radius: 0;
}
.navbar-inverse .navbar-brand {
    color: #ffffff;
    background-color: #F7931A;
}
.navbar-inverse .navbar-nav > li > a { color: #fff; }
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    background-color: #F7931A;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    background-color: #F7931A;
}
.btn-primary {
    background-color: #F7931A;
    border-color: #DE8417;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    background-color: #DE8417;
    border-color: #C87715;
}

#authentication-container { margin-top: 36px; }
@media (min-width: 768px) {
    #authentication-container #login-container { border-right: 1px solid #CAC9C9; }
}
#documentation-container { margin-top: 36px; }

@media (min-width: 768px) and (max-width: 991px) {
    #forgotten_password, #resend_activation {
        white-space: normal;
        width: 142px;
    }
}
@media (min-width: 992px) and (max-width: 1099px) {
    #forgotten_password, #resend_activation {
        white-space: normal;
        width: 198px;
    }
}

.panel-default>.panel-heading {
    color: #fff;
    background-color: #FF9900;
}
.currency-selector-container { margin-top: 20px; }
.transactions-table tbody { border: 1px solid #ddd; }
.transactions-table thead > tr { background-color: #FF9900; }
.transactions-table thead > tr > th {
    border: none;
    color: #fff;
}
.transactions-table thead > tr > th:first-child {
    border-top-left-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.transactions-table thead > tr > th:last-child {
    border-top-right-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}