@charset "UTF-8";
/* CSS Document */
.alertwindow {
	padding:10px;
	background-size: 100% 100%; background-image:url('/img/bg_rpg_green.png');
	border-style: groove;border-color:#FFF;border-width:5px;
	border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px;	
}
.alertwindow_error {
	padding:10px;
	background-size: 100% 100%; background-image:url('/img/bg_rpg_red.png');
	border-style: groove;border-color:#FFF;border-width:5px;
	border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px;	
}
.txtRPG_Actions{
	color: #fff;text-decoration: none;
	font-family: Verdana, Geneva, sans-serif;font-size: 16px;font-style: normal;font-weight: bold;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;-moz-text-shadow: 0 0 5px #000;-webkit-text-shadow: 0 0 5px #000;
}.txtRPG_Actions:hover {text-decoration: none; color:#CFF; }

.loader_anim {
	position:relative; width:100px; height:100px; text-align:center; opacity:1.0; z-index:4;
	padding:10px; text-align:center;
	background-color:#fff;background-size: 100% 100%;background-image:url('/img/anim_gear.gif'); 
	border-style:normal;border-color:#666;border-width:2px;border-radius:16px;-webkit-border-radius:16px;-moz-border-radius:16px;
}	




























.home_body {
	background-image:url('/img/soft-golden-background-tile.jpg');
	background-size: 100% 100%;
	/* background-image: -moz-linear-gradient(top, #99CCCC, #FFFFFF); background-image: -webkit-gradient(linear, left top, left bottom, from(#99CCCC), to(#FFFFFF));
	background-height:100%; background-width:100%; */
	width:100%; height:100%;
}

.cells_flat_blue {
	background-color:#61BAF8;
	padding: 20px; display:inline-block; margin: 10px;vertical-align:middle;		
	width:200px;height:200px; 
}
.txtMain {
	font-family: Arial; font-size: 26px;font-style: normal; font-weight: normal;
	color: #FFF; text-decoration: none; vertical-align:middle;	
	height:100%;
}
.txtNormal_black {
	font-family: Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: normal;
	color: #000;
	text-decoration: none;
}

.txtSpeed {
	font-family: Arial; font-size: 26px;font-style: normal; font-weight: normal;
	color: #000000; text-decoration: none; vertical-align:middle;	
	height:100%;
}

.home{ position:relative; top:60px; width:100%; text-align:center; margin-bottom:200px; padding:0px; }
.navbar {
	position:relative; width:1000px; height:110px; z-index:11;
	padding: 10px; display:inline-block; margin: 0px auto;
	border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px;
	-webkit-box-shadow:0 0 20px #666; -moz-box-shadow: 0 0 20px #666; box-shadow: 0 0 20px #666;
	background-image:url(/img/nav.png);background-size: 100% 100%;
	}
.window_black {
	padding: 20px; display:inline-block; margin: 0px auto;	
	-webkit-box-shadow:0 0 20px #666; -moz-box-shadow: 0 0 20px #666; box-shadow: 0 0 20px #666;
	background-image: -moz-linear-gradient(top, #000000,#333333); background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#333333));
	}	

.window_grey {
	padding: 20px; display:inline-block; margin: 0px auto;	
	background-image: -moz-linear-gradient(top, #FFFFFF, #e4e4e4); background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#e4e4e4));
	}
	
.txtNormal {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #000;
	text-decoration: none;
}
.txtRPG{
	color: #fff;text-decoration: none;
	font-family: Verdana, Geneva, sans-serif;font-size: 20px;font-style: normal;font-weight: bold;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;-moz-text-shadow: 0 0 5px #000; -webkit-text-shadow: 0 0 5px #000;
}.txtRPG:hover {
	color:#CFF;
}
.txtLight {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #FFF;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
}
.txtLinks_fat{
	color: #99ccff; text-decoration: none;
	font-family: Verdana, Geneva, sans-serif;font-size: 18px;font-style: normal;font-weight: bold;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;-moz-text-shadow: 0 0 5px #000;-webkit-text-shadow: 0 0 5px #000;
}.txtLinks_fat:hover {color:#ccffff; text-decoration: underline; }

.txtError {
       font-family: Verdana, Geneva, sans-serif; font-size: 20px; font-weight:bolder; font-variant: small-caps; font-style: bold;
       color: #F00;text-decoration: none;text-transform: lowercase;
}

.txt_Header {
    font:normal 24pt Arial;
    color:#000;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
    }

.form_textbox1{
	font-family: Verdana, Geneva, sans-serif;font-size: 24px;font-style: normal;text-decoration: none;color:#333;
	width:350px; height:40px; padding:10px;
	background-image:url(/img/cloudbg.png);background-size: 100% 100%;
	border-style:solid;border-color:#CCC;border-width:1px;
	border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);-moz-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);-webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
	}

.form_textbutton{
	font-family: Verdana, Geneva, sans-serif;font-size: 24px;font-style: normal;text-decoration: none;color:#333;
	width:350px; height:40px; padding:10px;
	background-image:url(/img/cloudbg.png);background-size: 100% 100%;
	border-style:solid;border-color:#CCC;border-width:1px;
	border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);-moz-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);-webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
	}.form_textbutton:hover { border-style: normal; border-color:#999; border-width:1px;color:#000; }

.window_greyish {
	padding: 20px; margin:7px;
	border-style:normal;border-color:#CCC;border-width:1px;
	border-radius:10px; -moz-border-radius: 10px; -webkit-box-shadow:0 0 10px #ccc; -moz-box-shadow: 0 0 10px #ccc; box-shadow: 0 0 10px #ccc;		  
	background-image: -moz-linear-gradient(top, #ffffff,#f2f2f2); background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f2f2f2));
	}

.wrap_media {
	background:#fff;background-size: 100% 100%;
	border-style:dashed;border-color:#999;border-width:5px;
	padding:12px;margin:5px;
	display:inline-block;vertical-align:middle;text-align:center;
	border-radius:15px;-webkit-border-radius:15px;-moz-border-radius:15px;
	}

.wrap_tech {
	display:inline-block;vertical-align:middle; text-align:center; padding:10px;
	background:#fff;text-align:center;vertical-align:middle;display:inline-block;
	border-style:dashed;border-color:#999;border-width:1px;border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px;
	}

.loader_anim {
	position:relative; width:200px; height:200px; text-align:center; opacity:1.0; z-index:4;
	padding:10px; text-align:center;
	background-color:#fff;background-size: 100% 100%;background-image:url('/img/rodincoil.gif'); 
	border-style:normal;border-color:#666;border-width:2px;border-radius:16px;-webkit-border-radius:16px;-moz-border-radius:16px;
	}
	
	
	
	
	
	
	
	









.headlines_holder2 {
	margin: 5px; padding:20px; display:inline-block;
	/* background:#FFF; background-image:url(/img/greybgbig.jpeg);background-size: 100% 100%; */
	border-color:#CCF;border-width:4px; border-radius:7px; -webkit-border-radius:7px; -moz-border-radius:7px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);-moz-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);-webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
	}.headlines_holder2:hover {background-color:#f7efe9;border-color:#fbdec7;border-width:2px;}
	
.headlines_holder {
	z-index:1; display:inline-block; margin:3px; text-align:center; padding:0px;
	border-style:solid; border-color:#E5E1E1; border-width:1px;
	border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; -moz-border-radius: 3px;
	}.headlines_holder:hover {background-color:#f3f3f3;}
	
.blocks {display:inline-block; float:left;}

.comments_cell {
	margin-bottom: 5px; padding:5px; display:inline-block;background-color:#FFF;
	border-style:solid; border-color:#E5E1E1; border-width:1px;
	}.comments_cell:hover {background-color:#e2e2e2;border-color:#CCC;border-width:1px;}
.comments_cell_reply {
   	margin-bottom: 5px; padding:5px; display:inline-block;
   	border-style:solid; border-color:#E5E1E1; border-width:1px;background-color:#f3f3f3;
	border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; -moz-border-radius: 3px;
   	}.comments_cell_reply:hover {background-color:#ccc;border-color:#CCC;border-width:1px;}

	



.box_chestfade {
	padding: 10px; display:inline-block;margin: 0px auto;	
	border: 1px solid #000000; border-radius:10px; -moz-border-radius: 10px;
	-webkit-box-shadow:0 0 10px #666; -moz-box-shadow: 0 0 10px #666; box-shadow: 0 0 10px #666;
	background-image: -moz-linear-gradient(top, #cccccc,#666666);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#666666));
	background-size: 100% 100%; background-image:url('/img/woodenpanel_hud.png');
	}

.window_items {
	padding:0px; 
	border-style:groove;border-color:#c93;border-width:5px;
	border-radius:11px;-webkit-border-radius:11px;-moz-border-radius:11px;
	background-image:url('/img/woodvert.png'); background-size: 100% 100%;
	}
	
.nav_buttons {
	padding:0px; margin:0px; background-color:#FFF; display:inline-block;
	border-style: groove;border-color:#fff;border-width:2px;
	border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px;
	}.nav_buttons:hover{ border-color:#0f0;background-color:#CCC;}
	
.mediamain {
	padding:14px; 
	border-radius:11px;-webkit-border-radius:11px;-moz-border-radius:11px;
	background-image:url('/img/cloudbg.png'); background-size: 100% 100%;
	}

.actionswindow {
	padding:10px; text-align:left;
	background-size: 100% 100%; background-image:url('/img/bg_rpg_blue2.png');
	border-style: groove;border-color:#FFF;border-width:5px; border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px;
}


.alertdebugwindow {
	position: fixed; left:10px; top:10px; width:400px; min-height:100px; z-index:12;
	background-size: 100% 100%; background-color:#666; padding:30px; text-align:left;
	border-style: groove;border-color:#FFF;border-width:5px;
}

.window_loot_outer{
	padding:7px; display:inline-block;margin: 0px auto;	
	border-radius:2px; -moz-border-radius: 2px; 
	-webkit-box-shadow:0 0 10px #ccc; -moz-box-shadow: 0 0 10px #ccc; box-shadow: 0 0 10px #000;
	background-size: 100% 100%; background-image:url('/img/bar_key.png');
}

.buywindow {
	padding:10px;
	background-size: 100% 100%; background-image:url('/img/greybgbig.jpeg');
	border-style:outset;border-color:#FF9;border-width:3px;
	border-radius:12px;-webkit-border-radius:12px;-moz-border-radius:12px;	
}

.form_textbox_cc{
	font-family: Verdana, Geneva, sans-serif;font-size: 16px;font-style: normal;text-decoration: none;color:#333;
	height:30px; padding:5px;
	background-image:url('/img/cloudbg.png');background-size: 100% 100%;
	border-style:solid;border-color:#CCC;border-width:2px;
	border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);-moz-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);-webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
	}
	
.cost_text{
	background-color:#393;color: #FFF;padding:2px;text-decoration: none;
	border-style:solid; border-color:#fff; border-width:3px;
	border-radius:15px; -webkit-border-radius:15px; -moz-border-radius:15px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.75); -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.75); -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.75);
	font-family: Verdana, Geneva, sans-serif; font-size: 16px; font-style: normal; font-weight: bold;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; -moz-text-shadow: 0 0 5px #000; -webkit-text-shadow: 0 0 5px #000;
}

.cost_text_off{
	color: #FFF;padding:2px;text-decoration: none;
	border-style:solid; border-color:#fff; border-width:3px;
	border-radius:15px; -webkit-border-radius:15px; -moz-border-radius:15px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.75); -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.75); -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.75);
	font-family: Verdana, Geneva, sans-serif; font-size: 16px; font-style: normal; font-weight: bold;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; -moz-text-shadow: 0 0 5px #000; -webkit-text-shadow: 0 0 5px #000;
}.cost_text_off:hover{
	background-color:#393;border-color:#0f0;
}


.bookmarklet{
	padding:10px;
	background-size: 100% 100%; background-image:url('/img/bg_rpg_blue2.png');
	border-style: groove;border-color:#FFF;border-width:5px;
	border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px;
}







/* txt */


.txt_Title_index{
       font-family: Verdana, Geneva, sans-serif;font-size: 16px;font-style: bold;font-weight:normal;
       color: #000; text-decoration: none; z-index: 1;
}

.txtError_Hi{
	font-family: Verdana, Geneva, sans-serif; font-size: 16px; font-weight:bolder; font-variant: small-caps; font-style: normal;
    color: #666;text-decoration: none;text-transform: lowercase;
}
.txtQuestsHeadline {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #000;
	text-decoration: none;
}
.txtRPG_Views{
	color: #fff;text-decoration: none;
	font-family: Verdana, Geneva, sans-serif;font-size: 20px;font-style: normal;font-weight: bold;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;-moz-text-shadow: 0 0 5px #000; -webkit-text-shadow: 0 0 5px #000;
}.txtRPG_Views:hover {
	background-color:#ccc;
}
	
.txtRPG_Views_Hi{
	color: #CCC;text-decoration: none;
	font-family: Verdana, Geneva, sans-serif;font-size: 20px;font-style: normal;font-weight: bolder;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;-moz-text-shadow: 0 0 5px #000; -webkit-text-shadow: 0 0 5px #000;
}
.txtExp {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #000;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	font-variant: small-caps;
	text-transform: lowercase;
}
.txtDate {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #666;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	font-variant: small-caps;
	text-transform: lowercase;
}
.txtLightLinks {
	font-family: Verdana, Geneva, sans-serif; font-size: 10px;color: #999;
	text-decoration: none;
	font-style: normal; font-weight: normal;font-variant: small-caps;
}.txtLightLinks:hover{ background-color:#393;color:#0f0;}
	
.txtHomePageHeadlines {
	color: #fff;
	font-family: Verdana, Geneva, sans-serif;font-size: 20px;font-style: normal; font-weight: bold; 
	text-align:left; text-decoration: none;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;-moz-text-shadow: 0 0 5px #000;-webkit-text-shadow: 0 0 5px #000;
	}	 

.txtNewsBubble{
	font-family: Verdana, Geneva, sans-serif;font-size: 18px;font-style: normal;font-weight: bold;
	color: #fff; text-align:left; text-decoration: none;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; -moz-text-shadow: 0 0 5px #000; -webkit-text-shadow: 0 0 5px #000;
}.txtNewsBubble:hover {color: #CCC;}
	
.txtFaint {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #666;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
}

.txtHeader {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: bold;
	color: #000;
	text-decoration: none;
}

.txtExportCities{}

.txtDo_Thanks{
	color: #fff;text-decoration: none;
	font-family: Verdana, Geneva, sans-serif;font-size: 12px;font-style: normal;font-weight: bold;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;-moz-text-shadow: 0 0 5px #000;-webkit-text-shadow: 0 0 5px #000;
}.txtDo_Thanks:hover {text-decoration: none; color:#6c9; }

.txtDo_Thanks_button {
	background-color:#fff; background-image:url('/img/bg_white_50.png'); background-size: 100% 100%;
	padding:3px;margin:1px;text-align:center; text-decoration:none;
	border-style:normal; border-color:#FFF; border-width:4px;
	border-radius:7px; -webkit-border-radius:7px; -moz-border-radius:7px;
	}.txtDo_Thanks_button:hover { padding:9px; border-color:#9cc; }
.txtRPG_Thanks{
	color: #666;text-decoration: none;
	font-family: Verdana, Geneva, sans-serif;font-size: 12px;font-style: normal;font-weight: bold;
}

.button_Do_Report {
	background-color:#c99; background-size: 100% 100%;
	padding:4px;margin:1px;text-align:center; text-decoration:none;
	border-style:normal; border-color:#c33; border-width:4px;
	border-radius:7px; -webkit-border-radius:7px; -moz-border-radius:7px;
	}.button_Do_Report:hover { padding:9px; border-color:#600; background-color:#900; }


.button_LoadRecords {
	background-color:#CCF; background-image:url('/img/cloudbg.png'); background-size: 100% 100%;
	padding:10px;margin:1px;text-align:center; text-decoration:none;
	border-style:groove; border-color:#CFF; border-width:1px;
	border-radius:7px; -webkit-border-radius:7px; -moz-border-radius:7px;
	}.button_LoadRecords:hover { border-color:#600;padding:12px; }



/* forms */
.form_textbox_chest{
	font-family: Verdana, Geneva, sans-serif; font-size: 18px; color:#000; font-style: normal;text-decoration: none;
	width:250px; height:47px; padding:3px;
	background-image:url('/img/cloudbg.png');background-size: 100% 100%;
	border-style:inset;border-color:#fC6;border-width:1px;
}.form_textbox_chest:hover {border-color:#C96;}
.formbutton_chest {
	height:50px;
	background-color:#960; background-image:url('/img/woodvert_button.png'); background-size: 100% 100%;
	padding:7px;margin:5px;text-align:center; text-decoration:none;
	border-style: normal; border-color:#C96; border-width:3px;
	color:#fff;font-family: Verdana, Geneva, sans-serif;font-size: 16px;font-style: normal;font-weight:normal;
	}.formbutton_chest:hover {color:#000;font-weight:bold;border-style: normal; border-color:#fC6;}



.form_textbox_medium{
	font-family: Verdana, Geneva, sans-serif;font-size: 16px;font-style: normal;text-decoration: none;color:#333;
	width:180px; height:30px; padding:5px;
	background-image:url('/img/cloudbg.png');background-size: 100% 100%;
	border-style:solid;border-color:#CCC;border-width:1px;
	border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);-moz-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);-webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
	}
	

	
.formbutton_1 {
	height:55px;
	background-color:#369; background-image:url('/img/bg_rpg_blue.png'); background-size: 100% 100%;
	padding:10px;margin:5px;text-align:center; text-decoration:none;
	border-style: normal; border-color:#9CF; border-width:5px;
	border-radius:7px; -webkit-border-radius:7px; -moz-border-radius:7px;
	color:#fff;font-family: Verdana, Geneva, sans-serif;font-size: 16px;font-style: normal;font-weight:bold;font-variant: normal;
	}.formbutton_1:hover {
	color:#9CC;font-weight:bold;
	border-style: normal; border-color:#FFF; border-width:4px;
	background-color:#036; background-image:url('/img/bg_rpg_blue2.png'); background-size: 100% 100%;
	}
.formbutton_2 {
	background-color:#369; background-image:url('/img/gold_texture.jpg'); background-size: 100% 100%;
	padding:10px;margin:5px;text-align:center; text-decoration:none;
	border-style: inset; border-color:#FF6; border-width:5px;
	border-radius:7px; -webkit-border-radius:7px; -moz-border-radius:7px;
	color:#000;font-family: Verdana, Geneva, sans-serif;font-size: 12px;font-style: normal;font-weight:bold;font-variant: normal;
	}.formbutton_2:hover {
	color:#FF6;font-weight:bold;
	border-style:outset; border-color:#FFF; border-width:4px; text-decoration:none;
	background-color:#036; background-image:url('/img/gold_texture.jpg'); background-size: 100% 100%;
	}
	
/* windows */
.window_big{
	position:fixed;top:90px;left:25px;width:80%;height:80%;z-index:11;display:none;
	background:#fff;margin:0px;padding:0px;
	border-style:dashed;border-color:#CCC;border-width:1px;
	border-radius:15px;-webkit-border-radius:15px;-moz-border-radius:15px;
	vertical-align:middle;text-align:center;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);-moz-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);-webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.window_trans{
	position:absolute;top:150px;left:225px;width:650px; height:500px; z-index:11;display:none; overflow-y:auto; overflow-x:hidden;
}
.mv_make_sq {
       margin: 5px; padding:20px; display:inline-block;
	background:#FFF; background-image:url(/img/greybgbig.jpeg);background-size: 100% 100%;
       border-color:#CCF;border-width:4px; border-radius:7px; -webkit-border-radius:7px; -moz-border-radius:7px;
       box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);-moz-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);-webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
   }
  

.action_overlay {
	position: static;opacity:1.0; z-index: 1;padding:10px;
	background-image:url(/img/bg_rpg_blue.png);background-size: 100% 100%;
	border-style:solid;border-color:#fff;border-width:5px;border-radius:6px;-webkit-border-radius:5px;-moz-border-radius:5px;
	box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);-moz-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);-webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
}



/* buttons */
.button_grey {
	background-color:#fff; background-image:url('/img/bg_white_50.png'); background-size: 100% 100%;
	padding:10px;margin:0px;text-align:center; text-decoration:none;
	border-style:normal; border-color:#666; border-width:4px;
	border-radius:7px; -webkit-border-radius:7px; -moz-border-radius:7px;
	color:#000;font-family: Verdana, Geneva, sans-serif;font-size: 20px;font-style: normal;font-weight:bold;font-variant: normal;
	}.button_grey:hover {
	color:#000;font-weight:bold;
	border-style: normal; border-color:#ccc; border-width:4px;
	background-color:#666; background-image:url('/img/bg_white_trans33.png'); background-size: 100% 100%;
	}
	
.button_orange {
	height:55px;
	padding:10px;margin:5px;text-align:center; text-decoration:none;
	border-style: normal; border-color:#FC9; border-width:5px;
	border-radius:7px; -webkit-border-radius:7px; -moz-border-radius:7px;
	-moz-border-radius: 10px;-webkit-box-shadow:0 0 10px #ccc;-moz-box-shadow: 0 0 10px #ccc;
	box-shadow: 0 0 10px #ccc;
	margin: 20px auto;		  
	background-image: -moz-linear-gradient(top, #ffffff,#ffcc99);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffcc99));
	color:#333;font-family: Verdana, Geneva, sans-serif;font-size: 16px;font-style: normal;font-weight:bold;font-variant: normal;
	}.button_orange:hover {Ω
	color:#000;font-weight:bold;
	border-style: normal; border-color:#FFF; border-width:4px;
	background-color:#036;
	}

.icons_stack {
	border-width: 0px;border-style: none;
	padding:3px;padding-left:3px;padding-right:3px;
	text-align:center;vertical-align: top;display:inline-block;
}

.border_dashed_white {
	padding:0px; background-size: 100% 100%;
	background-image:url('/img/bg_white_50.png');
	border-style:dashed;border-color:#F30;border-width:1px;
	border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px;
	}.border_dashed_white:hover {
	background-color:#F30;
	}
	
.border_dashed_green {
	padding:0px; background-size: 100% 100%;
	background-image:url('/img/bg_white33.png');
	border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px;
	}.border_dashed_green:hover {
	background-color:#9cc;border-style:dotted;border-color:#063;border-width:1px;
	}


.progressbar {
	height:30px; width:100px;
	padding:0px;margin:0px;text-align:left; text-decoration:none;
	border-style: normal; border-color:#FFF; border-width:3px;
	border-radius:7px; -webkit-border-radius:7px; -moz-border-radius:7px;
	-moz-border-radius: 10px;
	-webkit-box-shadow:0 0 10px #ccc;
	-moz-box-shadow: 0 0 10px #ccc;
	box-shadow: 0 0 10px #ccc;
	margin: 20px auto;
	background-color:#990000;
	}
.statswindow {
	padding:10px;
	background-size: 100% 100%; background-image:url('/img/bg_rpg_blue.png');
	border-style: groove;border-color:#FFF;border-width:4px;
	border-radius:12px;-webkit-border-radius:12px;-moz-border-radius:12px;	
}
.avatarwrap {
	padding:0px;
	background-size: 100% 100%; background-image:url('/img/bg_grey.png');
	border-style: groove;border-color:#FFF;border-width:4px;
	border-radius:12px;-webkit-border-radius:12px;-moz-border-radius:12px;	
}
.blinkwrap {
	padding:0px;opactiy:0.50;
	/*background-size: 100% 100%; background-image:url('/img/anim_orangeborder.gif'); */
	border-style: groove;border-color:#F60;border-width:1px;
	border-radius:12px;-webkit-border-radius:12px;-moz-border-radius:12px;	
}
.hud_join {
	position:fixed; top:115px; right:25px; width:400px; height:600px; z-index:10;
	overflow:hidden; overflow-y: hidden;  overflow-x: hidden;
}
.status_profilebubbles {
	width:32px;height:32px;opacity:1.0;z-index:3;
	background-color:#333;background-size: 100% 100%;
	border-style:double;border-color:#666;border-width:2px;border-radius:16px;-webkit-border-radius:16px;-moz-border-radius:16px;
	}
.alert_text{
	background-color:#900;color: #fff;padding:2px;text-decoration: none;
	border-style:solid; border-color:#fff; border-width:3px;
	border-radius:15px; -webkit-border-radius:15px; -moz-border-radius:15px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.75); -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.75); -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.75);
	font-family: Verdana, Geneva, sans-serif; font-size: 16px; font-style: normal; font-weight: bold;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; -moz-text-shadow: 0 0 5px #000; -webkit-text-shadow: 0 0 5px #000;
}
.progressbarbg { position:absolute; top:0px; left:0px; width:100%; height:100%; display:block; z-index:0; text-align:center; padding:5px; 
	background-size: 100% 100%; background-image:url('/img/bg_grey.png'); opacity:1.0;
	border-radius:15px; -webkit-border-radius:15px; -moz-border-radius:15px;
	}













/* index.php */
	.captiontxt{
		height:15px; width:165px;z-index:3; max-width:175px; max-height:15px;
		font-family: Verdana, Geneva, sans-serif;font-size: 12px;font-style: normal;
		color: #333;padding: 4px;
		word-wrap:normal ; text-align:left; float: left;
	}
	.pic_url{ position:absolute; top:190px; left:175px; width:24px; height:24px;	}
	.deletePic{ position:absolute; z-index:1; top:-3px; left:186px; width:12px; height:12px;}
	.alert_text_plus{
		background-color:#0C9;
		border-style:solid;
		border-color:#fff;
		border-width:2px;
		padding:4px;
		border-radius:15px;
		-webkit-border-radius:15px;
		-moz-border-radius:15px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.75);
		-webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.75);
		color: #fff;
		font-family: Verdana, Geneva, sans-serif;
		font-size: 16px;
		font-style: normal;
		font-weight: bold;
		text-decoration: none;
		text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
		-moz-text-shadow: 0 0 5px #000;
		-webkit-text-shadow: 0 0 5px #000;
	}
	.alert_text_shadow{
		background-color:#000;
		border-style:solid;
		border-color:#fff;
		border-width:2px;
		padding:1px;
		border-radius:15px;
		-webkit-border-radius:15px;
		-moz-border-radius:15px;
		color: #CCC;
		font-family: Verdana, Geneva, sans-serif;
		font-size: 16px;
		font-style: normal;
		font-weight: bold;
		text-decoration: none;
	}
	.newsBubble{
		position: static;
		z-index: 3;
		width:100%;
		background-image:url(/img/bg_rpg_blue.png);
		background-size: 100% 100%;
		border-style:solid;
		border-color:#fff;
		border-width:2px;
		padding:10px;
		border-radius:10px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.75);
		-webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.75);
	}
	.txtwrapper {
        font:normal 24pt Arial;
        color:#FFFFFF;
        text-shadow: 0 1px 0 #ccc,
        0 2px 0 #c9c9c9,
        0 3px 0 #bbb,
        0 4px 0 #b9b9b9,
        0 5px 0 #aaa,
        0 6px 1px rgba(0,0,0,.1),
        0 0 5px rgba(0,0,0,.1),
        0 1px 3px rgba(0,0,0,.3),
        0 3px 5px rgba(0,0,0,.2),
        0 5px 10px rgba(0,0,0,.25),
        0 10px 10px rgba(0,0,0,.2),
        0 20px 20px rgba(0,0,0,.15);
        }
         
    #wrapper p{
        font:normal 40pt Arial;
        color:#FFFFFF;
        text-shadow: 0 1px 0 #ccc,
        0 2px 0 #c9c9c9,
        0 3px 0 #bbb,
        0 4px 0 #b9b9b9,
        0 5px 0 #aaa,
        0 6px 1px rgba(0,0,0,.1),
        0 0 5px rgba(0,0,0,.1),
        0 1px 3px rgba(0,0,0,.3),
        0 3px 5px rgba(0,0,0,.2),
        0 5px 10px rgba(0,0,0,.25),
        0 10px 10px rgba(0,0,0,.2),
        0 20px 20px rgba(0,0,0,.15);	
    }



		


/* page elements */

	
	/* Codes for loadcontent.php - to place icons */
	.sort_Content_play { position:absolute; top:0px; left:0px; z-index:0; }
	.sort_ContentRT_play { position:absolute; top:0px; left:12px; z-index:0; }
	.sort_Content_playlist { position:absolute; top:0px; left:40px; z-index:0; }
	.sort_Content_video { position:absolute; top:0px; left:80px; }
	.sort_Content_comments { position:absolute; top:0px; left:80px; }
	.sort_Content_flag { position:absolute; top:0px; left:120px; }
	.sort_Content_avatar { position:absolute; top:0px; left:160px; }
	.sort_Content_delete { position:absolute; top:3px; left:3px;  z-index:2; }
	
	.nowplayingbg { position:absolute; top:0px; left:0px; width:100%; height:100%; display:block; z-index:1;
	background-size: 100% 100%; background-image:url('/img/anim_soundwaves.gif'); opacity:0.25;}
	
	.audioprogressbar_tracks { position:absolute; left:5px; top:-14px; width:175px; height:7px; 
	background-color:#09C; color:#0C9; overflow:hidden; overflow-y:hidden;
	border-width:1px; border-color:#CCC; border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; } 
	
	.waveform_segment { position:absolute; top:-3px; height:20px; z-index:1; border-color:#0C0; background-color:#0C0; border-width:1px; border-style:groove;  opacity:0.25 }
	.button_21{color:#333;}
	.button_21:hover{
	color:#000;background:#09F;background-color:#09F;
	border-style:solid;border-color:#9CF;
	}
	.countrytag { position:relative; width:150px; height:35px;display:inline-block;}
	.countrytag_flag { position:absolute; top:0px; left:0px;width:32px; height:32px;}
	.countrytag_name {
	position:absolute; top:7px; left:40px;width:100px; height:32px;
	font-family:Arial, Helvetica, sans-serif; font-size:12px;
	text-align:left; margin:2px;
	}




/* content */


	.select_virtue {
		position:absolute;top:0px;left:25px;width:600px;height:600px;z-index:1;display:none;
		background:#fff;margin:0px;padding:20px;
		border-style:dashed;border-color:#CCC;border-width:1px;
		border-radius:15px;-webkit-border-radius:15px;-moz-border-radius:15px;
		vertical-align:middle;text-align:center;
	}
	


	.inlineStack {
	border-top-width: 0px;border-right-width: 0px;border-bottom-width: 0px;border-left-width: 0px;
	border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;
	padding: 3px;text-align:center;vertical-align: top;display:inline-block;
	}

.container_media {
	position:relative;width:100%;height:100%;
	background:#fff;background-size: 100% 100%;
	padding:4px;margin:0px;
	text-align:center;vertical-align:middle;display:inline-block;
	border-style:dashed;border-color:#999;border-width:1px;
	border-radius:12px;-webkit-border-radius:12px;-moz-border-radius:12px;
	}
.headlines_title {
	position: absolute;bottom:2px;width:100%;height:27px;
	z-index:2px;opacity:1.0;vertical-align:text-top;
	padding-left:0px;padding-right:0px;
	background-size: 100% 100%;
	background-image:url(/img/bg_white_trans33.png);
	}
.headlines_location {
	position: absolute;
	z-index:0;
	opacity:1.0; 
	bottom:-25px;
	border-style:dashed;
	border-color:#CCC;
	border-width:1px;
	border-radius:12px;
	-webkit-border-radius:12px;
	-moz-border-radius:12px;
	padding-right:15px;
	width:80%;
	background-image:url(/img/bg_white_50.png);
	}


.status_userbubbles {
	position:relative; width:32px;height:32px;opacity:1.0;z-index:3; display:inline-block;
	background-color:#333;background-size: 100% 100%;
	border-style:double;border-color:#666;border-width:2px;border-radius:16px;-webkit-border-radius:16px;-moz-border-radius:16px;
	}
.status_location_bubble {
	position:relative; display:inline-block; border-style:dashed;border-color:#CCC;border-width:1px;border-radius:12px;-webkit-border-radius:12px;-moz-border-radius:12px;
	background-image:url(/img/bg_white_50.png); padding:5px;
	}





.captionpic{
	position: static;
	width:95%;
	background-image:url(/img/bg_rpg_blue.png);
	background-size: 100% 100%;
	border-style:solid;
	border-color:#fff;
	border-width:2px;
	padding:10px;
	border-radius:10px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.75);
	color: #fff;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-style: normal;
	text-align:left;
	text-decoration: none;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	-moz-text-shadow: 0 0 5px #000;
	-webkit-text-shadow: 0 0 5px #000;
}















.body_row_top{
	padding:10px;
	width:100%;
	text-align:center;
	background-image:url(/img/bg_rpg_orange.png);
	background-size: 100% 150%;
	border-color:#F60;
	border-width:5px;
	border-style: outset;
	border-radius:12px;
	-webkit-border-radius:12px;
	-moz-border-radius:12px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
	}



.itemBubbleProfile{
	position: static;
	width:250px;
	height:100px;
	padding:12px;
	border-style:solid;
	border-color:#EDEEE1;
	border-width:1px;
	border-radius:12px;
	-webkit-border-radius:12px;
	-moz-border-radius:12px;
	display:inline-block;
	margin:7px;
}
.itemBubbleContent{
	position:static;
	width:250px;
	padding:12px;
	border-style:solid;
	border-color:#EDEEE1;
	border-width:1px;
	border-radius:12px;
	-webkit-border-radius:12px;
	-moz-border-radius:12px;
	display:inline-table;
}
.itemBubbleWelcome{
	position: static;
	width:200px;
	height:150px;
	padding:10px;
	border-style:solid;
	border-color:#ffcc00;
	border-width:1px;
	border-radius:12px;
	-webkit-border-radius:12px;
	-moz-border-radius:12px;
	display:inline-block;
	margin:8px;
}


.item_story_bubble_rel{
	position: relative;
	z-index: 3;
	opacity:1.0; 
	background-image:url(/img/bg_rpg_blue.png);
	background-size: 100% 100%;
	border-style:solid;
	border-color:#fff;
	border-width:5px;
	padding:14px;
	border-radius:12px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.75;
}
.speechbubble3{
	background-image:url(/img/bg_rpg_blue.png);
	background-size: 100% 100%;
	padding:14px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;color:#456;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: normal;
	color: #fff;
	text-decoration: none;
}
.speechbubbleprofile {
	position: relative;
	width:300px;
	background:#fff;
	padding:4px;
	border-radius:12px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.75);
}
.plusone {
	position: relative;
	width:200px;
	background:#fff;
	padding:14px;
	border-radius:12px;
	-webkit-border-radius:12px;
	-moz-border-radius:12px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.75);
}
.info_overlay {
	position: relative;
	width:200px;
	background:#fff;
	padding:14px;
	border-radius:6px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
}
.profile_overlay {
	position: relative;
	width:350;
	background:#fff;
	padding:16px;
	border-radius:12px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.75);
}

